
/* inline styles for heading and paragraphs */
.heading {
  text-align: center;
  white-space: pre-wrap;
  font-size: large;
  /* background-color:DodgerBlue */
}

.paragraph {
  /* white-space: pre-wrap; */
text-align: center;
}